.events {}

.events-container{
    margin-bottom: 64px;
}

.events-text-container {
    margin-bottom: 32px;
}

.events-text-container-prevtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #0b0500;
    margin-bottom: 16px;
}

.events-text-container-title {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0500;
    margin-bottom: 16px;
}

.events-text-container-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0500;
}

.events-list {
    gap: 24px;
    margin-bottom: 56px;
}

.events-list-item {
    width: 100%; 
}

.events-list-item-img {
    border-radius: 16px;
}

.events-list-item-text-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 220px;
}

.events-list-item-text-container-text {}

.events-list-item-format {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0500;
    margin-bottom: 8px;
}

.events-list-item-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #0b0500;
}

.events-list-item-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0500;
    margin-bottom: 16px;
}

.events-list-item-btn {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0500;
    border: none;
    background-color: transparent; 
    fill: #0b0500;
    padding-left: 0;
}

.button-icon{
    fill: #0b0500;
    width: 24px;
    height: 24px;
}

.swiper {
    position: relative;
    border-radius: 8px;
    overflow: hidden;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    flex-shrink: 0;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative; 
}

.slider-controls{
    position: relative;
}

.slider-controls .swiper-button-prev,
.slider-controls .swiper-button-next {
    width: 48px;
    height: 48px;

    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    transform: none;
    margin-top: 0;
}

.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
    content: none;
}

@media screen and (min-width: 374px){
    .events-container{
        max-width: 343px;
    }
    
}

@media screen and (min-width: 768px){
    .events-container {
        max-width: 704px;
    }

    .events-list{
        margin-bottom: 32px;
    }

    .events-text-container-text {
        width: 560px;
    }
}

@media screen and (min-width: 1440px){
    .events-container {
            max-width: 1312px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }
}