.logo {
  display: block;
}
.header-container {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 28px;
  height: 64px;
  justify-content: center;
}

.burger-btn {
  border: none;
  background: none;
  margin-left: auto;
  padding: 0;
}
@media screen and (min-width: 375px) {
  .burger-btn {
    margin-left: 223px;
  }
}

.header-nav {
  display: none;
}

@media screen and (min-width: 768px) {
  .header-container {
    height: 72px;
    padding-left: 30px;
    padding-right: 32px;
  }

  .header-nav {
    display: flex;
    margin-left: auto;
  }

  .burger-btn {
    display: none;
  }

  .header-list {
    display: flex;
    align-items: center;
    gap: 32px;
    color: #0b0500;
  }
  .mobile-menu {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .header-container {
    padding-left: 62px;
    padding-right: 64px;
  }
}
