<section id="books-section" class="books" id="books">
    <div class="container">
      <!-- заголовок і число книг -->
      <div class="books-desktop__correct">
        <div class="books-desktop__header">
          <div class="books-header__main">
            
            <div class="books__header">
              <h2 class="books__title">Books</h2>
              <span class="books__counter"
              >Showing <span id="books-count">0</span> of
              <span id="books-total">0</span></span
            >
        </div>
            <!-- селект категорій -->
            <div class="dropdown">
                <button class="dropdown-toggle">
                  <span class="dropdown-label">Categories</span>
                  <svg class="icon-chevron-down" width="24" height="24">
                    <use href="/img/sprite.svg#icon-chevron-down"></use>
                  </svg>
                </button>
                <ul class="dropdown-menu">
                  <li>
                    <a class="dropdown-menu-link" href="#" data-category="All categories"
                      >All categories</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-menu-link"
                      href="#"
                      data-category="Combined Print and E-book Fiction"
                      >Combined Print and E-book Fiction</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-menu-link"
                      href="#"
                      data-category="Combined Print & E-book Nonfiction"
                      >Combined Print & E-book Nonfiction</a
                    >
                  </li>
                  <li>
                    <a class="dropdown-menu-link" href="#" data-category="Hardcover fiction"
                      >Hardcover fiction</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-menu-link"
                      href="#"
                      data-category="Paperback trade fiction"
                      >Paperback trade fiction</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-menu-link"
                      href="#"
                      data-category="Paperback nonfiction"
                      >Paperback nonfiction</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-menu-link"
                      href="#"
                      data-category="Advice, how-to & Miscellaneous"
                      >Advice, how-to & Miscellaneous</a
                    >
                  </li>
                  <li>
                    <a
                      class="dropdown-menu-link"
                      href="#"
                      data-category="Children's middle grade hardcover"
                      >Children's middle grade hardcover</a
                    >
                  </li>
                </ul>
              </div>
            
       

          <!-- список посилань для десктопу -->
          <div class="books__options">
            <ul class="books__options">
              <li class="books__option-item">
                <a id="all" href="#" class="books__option">All categories</a>
              </li>
              <li class="books__option-item">
                <a
                  id="combined-print-ebook-fiction"
                  href="#"
                  class="books__option"
                >
                  Combined Print &amp; E-book Fiction
                </a>
              </li>
              <li class="books__option-item">
                <a
                  id="combined-print-ebook-nonfiction"
                  href="#"
                  class="books__option"
                >
                  Combined Print &amp; E-book Nonfiction
                </a>
              </li>
              <li class="books__option-item">
                <a id="hardcover-fiction" href="#" class="books__option">
                  Hardcover fiction
                </a>
              </li>
              <li class="books__option-item">
                <a id="paperback-trade-fiction" href="#" class="books__option">
                  Paperback trade fiction
                </a>
              </li>
              <li class="books__option-item">
                <a id="paperback-nonfiction" href="#" class="books__option">
                  Paperback nonfiction
                </a>
              </li>
              <li class="books__option-item">
                <a id="advice-how-to-misc" href="#" class="books__option">
                  Advice, how-to &amp; Miscellaneous
                </a>
              </li>
              <li class="books__option-item">
                <a id="childrens-middle-grade" href="#" class="books__option">
                  Children’s middle grade hardcover
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- список книг -->
        <div class="books-desktop__btn_align">
          <ul id="books-list" class="books__list">
            <li class="books__item">
              <article class="book-card">
                <div class="book-card__thumb">
                  <img
                    class="book-card__image"
                    src="../img/books/test-image.jpg"
                    alt=""
                    width="343"
                    height="487"
                  />
                </div>
                <div class="book-card__info">
                  <div class="book-card__block">
                    <h3 class="book-card__title">Spare</h3>
                    <p class="book-card__author">Prince Harry</p>
                  </div>
                  <p class="book-card__price">$13</p>
                </div>
                <button class="btn-gray btn-books" type="button" data-id="">
                  Learn More
                </button>
              </article>
            </li>
            <li class="books__item">
              <article class="book-card">
                <div class="book-card__thumb">
                  <img
                    class="book-card__image"
                    src="../img/books/test-image.jpg"
                    alt=""
                    width="343"
                    height="487"
                  />
                </div>
                <div class="book-card__info">
                  <div class="book-card__block">
                    <h3 class="book-card__title">Spare</h3>
                    <p class="book-card__author">Prince Harry</p>
                  </div>
                  <p class="book-card__price">$13</p>
                </div>
                <button class="btn-gray btn-books" type="button" data-id="">
                  Learn More
                </button>
              </article>
            </li>
            <li class="books__item">
              <article class="book-card">
                <div class="book-card__thumb">
                  <img
                    class="book-card__image"
                    src="../img/books/test-image.jpg"
                    alt=""
                    width="343"
                    height="487"
                  />
                </div>
                <div class="book-card__info">
                  <div class="book-card__block">
                    <h3 class="book-card__title">Spare</h3>
                    <p class="book-card__author">Prince Harry</p>
                  </div>
                  <p class="book-card__price">$13</p>
                </div>
                <button class="btn-gray btn-books" type="button" data-id="">
                  Learn More
                </button>
              </article>
            </li>
            <li class="books__item">
              <article class="book-card">
                <div class="book-card__thumb">
                  <img
                    class="book-card__image"
                    src="../img/books/test-image.jpg"
                    alt=""
                    width="343"
                    height="487"
                  />
                </div>
                <div class="book-card__info">
                  <div class="book-card__block">
                    <h3 class="book-card__title">Spare</h3>
                    <p class="book-card__author">Prince Harry</p>
                  </div>
                  <p class="book-card__price">$13</p>
                </div>
                <button class="btn-gray btn-books" type="button" data-id="">
                  Learn More
                </button>
              </article>
            </li>
            <li class="books__item">
              <article class="book-card">
                <div class="book-card__thumb">
                  <img
                    class="book-card__image"
                    src="../img/books/test-image.jpg"
                    alt=""
                    width="343"
                    height="487"
                  />
                </div>
                <div class="book-card__info">
                  <div class="book-card__block">
                    <h3 class="book-card__title">Spare</h3>
                    <p class="book-card__author">Prince Harry</p>
                  </div>
                  <p class="book-card__price">$13</p>
                </div>
                <button class="btn-gray btn-books" type="button" data-id="">
                  Learn More
                </button>
              </article>
            </li>
            <li class="books__item">
              <article class="book-card">
                <div class="book-card__thumb">
                  <img
                    class="book-card__image"
                    src="../img/books/test-image.jpg"
                    alt=""
                    width="343"
                    height="487"
                  />
                </div>
                <div class="book-card__info">
                  <div class="book-card__block">
                    <h3 class="book-card__title">Spare</h3>
                    <p class="book-card__author">Prince Harry</p>
                  </div>
                  <p class="book-card__price">$13</p>
                </div>
                <button class="btn-gray btn-books" type="button" data-id="">
                  Learn More
                </button>
              </article>
            </li>
            <li class="books__item">
              <article class="book-card">
                <div class="book-card__thumb">
                  <img
                    class="book-card__image"
                    src="../img/books/test-image.jpg"
                    alt=""
                    width="343"
                    height="487"
                  />
                </div>
                <div class="book-card__info">
                  <div class="book-card__block">
                    <h3 class="book-card__title">Spare</h3>
                    <p class="book-card__author">Prince Harry</p>
                  </div>
                  <p class="book-card__price">$13</p>
                </div>
                <button class="btn-gray btn-books" type="button" data-id="">
                  Learn More
                </button>
              </article>
            </li>
          </ul>
          <!-- кнопка «Show More»  -->
          <div class="books__more-wrap">
            <button id="books-more" class="btn-orange books__more-btn is-hidden">
              Show More
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>