<section id="books-section" class="books" id="books">
  <div class="container">
    <!-- заголовок і число книг -->
    <div class="books-desktop__correct">
      <div class="books-desktop__header">
        <div class="books-header__main">
          <div class="books__header">
            <h2 class="books__title">Books</h2>
            <span class="books__counter"
              >Showing <span id="books-count">0</span> of
              <span id="books-total">0</span></span
            >
          </div>
          <!-- селект категорій -->
          <div class="books__controls">
            <label for="books-category" class="visually-hidden"
              >Categories</label
            >
            <div class="books__select-wrapper">
              <select id="books-category" class="books__select"></select>
              <svg class="books__select-icon" width="24" height="24">
                <use href="../img/sprite.svg#icon-chevron-down"></use>
              </svg>
            </div>
          </div>
        </div>
        <!-- список посилань для десктопу -->
        <ul class="books__options"></ul>
      </div>
      <!-- список книг -->
      <div class="books-desktop__btn_align">
        <ul id="books-list" class="books__list"></ul>
        <!-- кнопка «Show More»  -->
        <div class="books__more-wrap">
          <button id="books-more" class="btn-orange books__more-btn is-hidden">
            Show More
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
