<!-- Завдання: Модальне вікно повинно містити назву події, на яку відбувається реєстрація, та кнопку закриття -->
<div class="modal" id="contactModal">
  <div class="modal-content">
    <!-- Завдання: Кнопка закриття повинна бути іконкою -->
    <button class="close-btn" id="closeBtn">
      <svg width="14" height="14">
        <use href="img/sprite.svg#icon-close-btn"></use>
      </svg>
    </button>

    <!-- Завдання:Текст "Register" є заголовком модального вікна -->
    <h2 class="modal-title" id="modalTitle">Register</h2>

    <!-- Динамічна назва події -->
    <p class="event-name" id="eventName">
      <span id="eventTitle"></span>
    </p>

    <!-- Завдання: Форма повинна містити обов'язкові поля для імені та електронної пошти, а також поле для повідомлення -->
    <form id="contactForm">
      <input type="hidden" id="eventId" name="eventId" />

      <div class="input-wrapper">
        <label for="name">Name*</label>
        <input
          type="text"
          id="name"
          name="name"
          placeholder="Enter your name"
          required
        />
        <div class="error-text-input">Please enter your name</div>
      </div>

      <div class="input-wrapper">
        <label for="email">Email*</label>
        <input
          type="email"
          id="email"
          name="email"
          placeholder="Enter your email"
          required
          pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
        />
        <div class="error-text-input">Please enter a valid email address</div>
      </div>

      <div class="input-wrapper">
        <label for="message">Message</label>
        <textarea
          id="message"
          name="message"
          placeholder="Type your message..."
        ></textarea>
        <div class="error-text-textarea">Please enter your message</div>
      </div>

      <!-- Завдання: Форма повинна містити кнопку "Register" з типом submit -->
      <button class="btn-orange register-btn" type="submit">Register</button>
    </form>
  </div>
</div>
