<footer class="footer">
  <div class="container footer-container">
    <div class="footer-div">
      <div class="foter-nav-container">
        <a href="index.html">
          <svg class="logo-footer" width="83" height="36">
            <use href="/img/sprite.svg#icon-logo"></use>
          </svg>
        </a>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a href="/index.html" class="footer-list-link">Home</a>
          </li>
          <li class="footer-list-item">
            <a href="#books" class="footer-list-link">Books</a>
          </li>
          <li class="footer-list-item">
            <a href="#feedbacks" class="footer-list-link">Feedbacks</a>
          </li>
          <li class="footer-list-item">
            <a href="#location" class="footer-list-link">Location</a>
          </li>
        </ul>
      </div>
      <div class="form-container">
        <h4 class="footer-title">Join</h4>
        <form class="footer-form">
          <input
            class="footer-input"
            type="email"
            placeholder="Enter your email"
            pattern="^\w+(\.\w+)?@[a-zA-Z_]+?\.[a-zA-Z]{2,3}$"
          />
          <button class="footer-btn-form btn-gray" type="submit">
            Sign Up
          </button>
        </form>
        <p class="footer-input-text">* Required field</p>
      </div>
    </div>
    <div class="decor-line"></div>
    <p class="footer-text">© 2025 Booksy. All rights reserved.</p>
  </div>
</footer>
