<section class="location-section" id="location">
  <div class="container">
    <div class="location-container">
      <div class="location-text">
        <h4 class="location-title">Location</h4>
        <h2 class="location-main-title">How to find us</h2>
        <p class="location-descr">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
          varius enim in eros elementum tristique.
        </p>
      </div>

      <ul class="adress-list">
        <li class="adress-item">
          <ul class="adress-item-list">
            <li class="adress-item-list-title">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-email"></use>
              </svg>
              <h3 class="list-title">Email</h3>
            </li>
          </ul>
          <a class="adress-link" href="mailto:hello@booksy.com"
            >hello@booksy.com</a
          >
        </li>
        <li class="adress-item">
          <ul class="adress-item-list">
            <li class="adress-item-list-title">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-phone"></use>
              </svg>
              <h3 class="list-title">Phone</h3>
            </li>
          </ul>
          <a class="adress-link" href="tel:+612413043012">+61 (241) 304-3012</a>
        </li>
        <li class="adress-item">
          <ul class="adress-item-list">
            <li class="adress-item-list-title">
              <svg width="24" height="24">
                <use href="/img/sprite.svg#icon-office"></use>
              </svg>
              <h3 class="list-title">Office</h3>
            </li>
          </ul>
          <p class="list-descr">123 Books St, Sydney NSW 2000 AU</p>
        </li>
      </ul>
    </div>
    <div class="map-container">
      <iframe
        class="map-frame"
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d13250.515292535652!2d151.20443169292435!3d-33.87345550578929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s123%20Books%20St%2C%20Sydney%20NSW%202000%20AU!5e0!3m2!1suk!2sua!4v1751543254178!5m2!1suk!2sua"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
        title="Map showing location of 123 Books St, Sydney"
      >
      </iframe>
    </div>
  </div>
</section>
